<div class="box">
  <div class='painting_main'>
    <%= cl_image_tag @sample.photo %>
  </div>
  <div class="painting-info">
    <h1><%= @sample.title.capitalize %></h1>
    <p class='painting-artist'><strong>By <%= @sample.artist.name.capitalize %></strong></p>
    <p><%= @sample.description %></p>
    <% if policy(@sample).edit? %>
    <%= link_to "Make Changes to this sample",edit_sample_path(@sample),class: "btn btn-primary btn-m" %>
    <% end %>
    <% if policy(@sample).edit? %>
    <p><%= link_to "Delist this sample", sample_path(@sample), class: "btn btn-danger btn-m", method: :delete, data: { confirm: "Are you sure?"} %></p>
    <% end %>
    <h3><%= link_to @sample.exhibition.title, exhibition_path(@exhibition),class: 'painting-artist' %></h3>
  </div>
</div>
