<div class="box">
  <div class="artist">
    <div class="artist-info">
      <div class='artist-avatar' style="background-image: url('<%= cl_image_path @artist.photo %>');">
      </div>
      <p class="artist-name"><%= @artist.name %><p>
      <p class="artist-bio"><%= @artist.bio %><p>
      <p class="artist-controlls">
        <% if policy(@artist).edit? %>
          <%= link_to "Edit",edit_artist_path(@artist), class: "btn btn-primary btn-m" %>
        <% end %>
        <% if policy(@artist).destroy? %>
          <%= link_to "Delete", artist_path(@artist),method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger btn-m"%>
        <% end %>
      </p>
    </div>
  </div>

  <div class="artist-portofolio">
    <div class="row">
      <% @paintings.each do |painting| %>
        <%= link_to painting_path(painting) do %>
          <%= render '/paintings/painting_card', painting: painting %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
