<%= simple_form_for [gallery, painting] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>

    <%= f.input :featured, as: :boolean %>

    <% if mode == "Edit Painting" %>
      <%= f.input :artist_id, as: :hidden %>
    <% else %>
      <%= f.input :artist_id, as: :select, collection: @existing_artists %>
    <% end %>

    <%= f.input :status, collection: Painting::STATUS, class: "phone-number-box" %>
    <%= f.input :value,collection: Painting::VALUE, class: "value-box" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="form-button">
        <%= f.submit mode, class: "btn btn-primary" %>
    </div>
<% end %>