<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= simple_form_for [@gallery, @painting] do |f| %>
        <%= f.input :title, class: "name-box" %>
        <%= f.input :description, class: "contact-name-box" %>

        <%= f.input :artist_id, class: "address-box", as: :hidden %>

        <%= f.input :status, collection: Painting::STATUS, class: "phone-number-box" %>
        <%= f.input :value,collection: Painting::VALUE, class: "value-box" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Edit Painting", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
