<div class="box">
  <div class='painting_main'>
    <%= cl_image_tag @painting.photo %>
  </div>
  <div class="painting-info">
    <h1><%= @painting.title.capitalize %></h1>
    <p><strong><%= link_to "By " + @painting.artist.name.capitalize,artist_path(@gallery), class: 'painting-artist' %></strong></p>
    <p><%= @painting.description %></p>
    <p><%= @painting.status %></p>
    <p><%= @painting.value %> Value</p>
    <% if policy(@painting).edit? %>
    <%= link_to "Make Changes to this painting",edit_painting_path(@painting),class: "btn btn-primary btn-m" %>
    <% end %>
    <% if policy(@painting).edit? %>
    <p><%= link_to "Delist this painting", painting_path(@painting), class: "btn btn-danger btn-m", method: :delete, data: { confirm: "Are you sure?"} %></p>
    <% end %>
    <h3><%= link_to @painting.gallery.name, gallery_path(@gallery),class: 'painting-artist' %></h3>
  </div>
</div>
