<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "bull" %>
  <% end %>

  <%= link_to "Pentimento", root_path, class: "navbar-wagon-item navbar-wagon-link" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->


      <%= current_user.email %>
      <%= link_to "Gallery Owner", gallery_home_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <div class="search-bar">
        <form action="/searches" method="post">
        <input type="text" placeholder="Search.." name="term">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <!--Artist Drop Down Menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "artist", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "All Artists", all_artists_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to "My Artists", artists_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to "Add an Artist", new_artist_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
          </ul>
        </div>
      </div>
        <!--Paintings Drop Down Menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "painting", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "All Paintings", all_paintings_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to "My Paintings", all_my_paintings_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
          </ul>
        </div>
      </div>
        <!--Galleries Drop Down Menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "gallery", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "All Galleries", all_galleries_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to "My Gallery", galleries_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to "Add A Gallery", new_gallery_path(@gallery), class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
          </ul>
        </div>
      </div>
      <!-- Exhibition Drop Down Menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "exhibition", class: "dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "All Exhibitions", all_exhibitions_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to "My Exhibitions", exhibitions_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to "Add A Exhibition", new_exhibition_path(@exhibition), class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
          </ul>
        </div>
      </div>
      <!-- Appointment Drop Down Menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "appointment", class: "dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "My Appointments", galleries_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
          </ul>
        </div>
      </div>
      <!-- Login Drop Down Menu-->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%=  image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".edit", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <!-- mobile only when logged in -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "My Gallery", galleries_path %></li>
          <li><%= link_to "My Paintings", all_my_paintings_path %></li>
          <li><%= link_to "My Artists", artists_path%></li>
          <li><%= link_to "My Exhibitions",exhibitions_path %></li>
          <li><%= link_to "All Gallery", all_galleries_path %></li>
          <li><%= link_to "All Paintings", all_paintings_path %></li>
          <li><%= link_to "All Artists", all_artists_path %></li>
          <li><%= link_to "All Exhibitons",all_exhibitions_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path %></li>


        </ul>
      </div>
    </div>
    <% else %>
  <!-- When Logged Out -->
          <%= link_to "Gallery Owner", gallery_home_path, class: "navbar-wagon-item navbar-wagon-link" %>

          <div class="search-bar">
            <form action="/searches" method="post">
            <input type="text" placeholder="Search.." name="term">
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>

          <!--Artist Drop Down Menu -->
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <%= image_tag "artist", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to " Artists", all_artists_path, class: "navbar-wagon-item navbar-wagon-link" %>
                </li>
              </ul>
            </div>
          </div>
            <!--Paintings Drop Down Menu -->
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <%= image_tag "painting", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to " Paintings", all_paintings_path, class: "navbar-wagon-item navbar-wagon-link" %>
                </li>
              </ul>
            </div>
          </div>
            <!--Galleries Drop Down Menu -->
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <%= image_tag "gallery", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to " Galleries", all_galleries_path, class: "navbar-wagon-item navbar-wagon-link" %>
                </li>
              </ul>
            </div>
          </div>
          <!-- Exhibition Drop Down Menu -->
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <%= image_tag "exhibition", class: " dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to " Exhibitions", all_exhibitions_path, class: "navbar-wagon-item navbar-wagon-link" %>
                </li>
              </ul>
            </div>
          </div>
          <!-- Login Drop Down Menu-->
      <% if request.original_fullpath == '/gallery_home' %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_up", default: "Signup"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "My Gallery", galleries_path %></li>
          <li><%= link_to "My Paintings", all_my_paintings_path %></li>
          <li><%= link_to "My Artists", artists_path%></li>
          <li><%= link_to "My Exhibitions",exhibitions_path %></li>
          <li><%= link_to "All Gallery", all_galleries_path %></li>
          <li><%= link_to "All Paintings", all_paintings_path %></li>
          <li><%= link_to "All Artists", all_artists_path %></li>
          <li><%= link_to "All Exhibitons",all_exhibitions_path %></li>
        </ul>
      </div>
    </div>
</div>
