<% if @featured_paintings == [] %>
  <div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.4columns.org/img/column/Amor_Leonilson_Install1.jpg');">
    <div class="banner-content">
      <h1>Find Your Perfect Art Now!</h1>
      <p class="btn btn-primary btn-m">
        <%= link_to "List Your Gallery and Art", new_gallery_path(@gallery) %>
      </p>
    </div>
  </div>
<% else %>
  <div class="featured paintings">
    <div class="row">
      <% @featured_paintings.each do |painting| %>
        <div class="col-xs-12">
          <div class="card banner banner-home mySlides" style="background-image: url('<%= cl_image_path painting.photo %>');" alt="<%= painting.title %>">
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row row-home">
      <div class="col-xs-8, col-sm-6, col-md-4">
        <strong><%= link_to "Find Your Perfect Art Today!", all_paintings_path, class: "home-card-link btn btn-ml btn-dark" %></strong>
      </div>
      <div class="col-xs-8, col-sm-6, col-md-4">
        <strong><%= link_to "Visit a Gallery Tomorrow!", all_galleries_path, class: "home-card-link btn btn-ml btn-dark"%></strong>
      </div>
      <div class="col-xs-8, col-sm-6, col-md-4">
        <strong><%= link_to "Checkout an Exhibition Soon!", all_exhibitions_path, class: "home-card-link btn btn-ml btn-dark"%></strong>
      </div>
    </div>
    <div class="row">
      <% @other_paintings.each do |painting| %>
        <%= render '/paintings/painting_card', painting: painting %>
      <% end %>
    </div>
  </div>
<% end %>
