<div class="gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @gallery.photo %>');">
  <div class="gallery-card-name-map">
    <%= @gallery.name.capitalize %>
    <p class="map"
      id="map"
      data-marker="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= Rails.application.secrets.mapbox_token %>"></p>
  </div>

  <div class='gallery-card-info'>
    <h2 class="gallery_contact_name"><%= @gallery.contact_name %></h2>
    <p class="gallery_address"><%= @gallery.address %></p>
    <p class="gallery_phone_number"><%= @gallery.phone_number %></p>
    <p>
        <% if policy(@gallery).edit?%>
          <%= link_to edit_gallery_path(@gallery) do %>
            <i class="far fa-edit"></i>
          <% end %>
    </p>
        <% end %>
    <p>
        <% if policy(@gallery).edit?%>
          <%= link_to gallery_path(@gallery), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
    </p>
        <% end %>
  </div>
</div>
