<div class="container">
  <div class="gallery_name">
      <h1><%= @gallery.name.capitalize %></h1>
  </div>
  <div>
      <%= cl_image_tag @gallery.photo, height: 100, width: 100, crop: :fill %>
      <p>
          <% if policy(@gallery).edit?%>
          <%= link_to "Make Changes to your Gallery", edit_gallery_path(@gallery) %>
      </p>
      <% end %>
      <% if policy(@gallery).destroy? %>
      <p>
          <%= link_to "Delist your Gallery", gallery_path(@gallery),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      </p>
      <% end %>
  </div>
  <i class="far fa-address-card"></i>
  <div class="gallery_contact_name">
      <p>
          <%= @gallery.contact_name %>
      </p>
  </div>
  <div class="gallery_address">
      <p>
          <%= @gallery.address %>
      </p>
  </div>
  <div class="gallery_phone_number">
      <p><i class="fas fa-phone">  <%= @gallery.phone_number %></i></p>
  </div>

  <% if policy(@gallery).destroy? %>
  <!-- since .new? returns true for every user, use .destroy? to ultilize-->
  <!-- record.user == current_user policy of gallery -->
    <%= link_to "Add Artist", new_artist_path(@gallery), class: "btn btn-primary btn-m" %>
  <% end %>

  <% if policy(@gallery).destroy? %>
    <%= link_to "Add Painting", new_gallery_painting_path(@gallery), class: "btn btn-primary btn-m" %>
  <% end %>

  <%= link_to "Add Appointment", new_gallery_appointment_path(@gallery), class: "btn btn-primary btn-m" %>

  <div class="container">
      <div class="row">
          <% @gallery.paintings.each do |painting| %>
            <%= render '/paintings/painting_card', painting: painting %>
          <% end %>
      </div>
  </div>

</div>
