  <div class = "gallery_name"><h1><%= @gallery.name.capitalize %></h1></div>
    <div><%= cl_image_tag @gallery.photo, height: 100, width: 100, crop: :fill %> <p>
      <% if policy(@gallery).edit?%>
        <%= link_to "Make Changes to your Gallery", edit_gallery_path(@gallery) %></p>
      <% end %>
      <% if policy(@gallery).destroy? %>
        <p><%= link_to "Delist your Gallery", gallery_path(@gallery),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
      <% end %>
  </div>
  <i class="far fa-address-card"></i><div class = "gallery_contact_name"><p><%= @gallery.contact_name %></p></div>
  <div class = "gallery_address"><p><%= @gallery.address %></p></div>
  <div class = "gallery_phone_number">
    <p><i class="fas fa-phone">  <%= @gallery.phone_number %></i></p>
  </div>
    <% if policy(@gallery).destroy? %>
    <div class="btn btn-primary btn-lg">
    <p><%= link_to "Add Painting", new_gallery_painting_path(@gallery) %>
    <% end %>
    </p>
  </div>

 <div class="container">
    <%  @gallery.paintings.each_slice(12) do |gallery|%>
      <div class="row">
        <% @gallery.paintings.each do |painting| %>
          <%= link_to painting_path(painting) do %>
            <div class="col-xs-12, col-sm-6, col-md-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path painting.photo %>');">
                <div class="card-category">
                  <p><%= painting.title.capitalize %></p>
                  <p><%= painting.description.capitalize%></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


