<%= render '/galleries/gallery_banner', gallery: @appointment.gallery %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <h2>Edit Appointment</h2>
      <%= simple_form_for [ @appointment] do |f| %>
        <%= f.input :visitor_name %>
        <%= f.input :visitor_email %>

        <%= f.input :start_time, as: :date_time_picker %>
        <!-- Done: 1. how to present the start_time in calendar form -->
        <!-- TODO: 2. limit the datetime range -->

        <%#= f.input :confirmed, as: :boolean, checked_value: true, unchecked_value: false %>
        <!-- confirmed by whom, the gallery_owner, maybe? -->

        <div class="form-button">
          <%= f.submit "Edit Appointment", class: "btn btn-primary btn-md" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
