<%= render '/galleries/gallery_banner', gallery: @appointment.gallery %>

<div class="container">
  <h2>Your Appointment</h2>
  <p><%= @appointment.start_time %></p>
  <p><%= @appointment.visitor_name %></p>
  <p><%= @appointment.visitor_email %></p>

  <p>Please call The <%= link_to "Gallery",gallery_path(@gallery) %> if you want to change/cancel this appointment</p>

  <% if policy(@appointment).edit? %>
  <%= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "btn btn-primary btn-m" %>
  <% end %>

  <% if policy(@appointment).edit? %>
  <p><%= link_to "Delete Appointment", appointment_path(@appointment), class: "btn btn-danger btn-m", method: :delete, data: { confirm: "Are you sure?"} %></p>
  <% end %>
</div>
